Hi {{ user.username }}, your current balance is {{ balance }}

<form action="logout/" method="post">
    {% csrf_token %}
    <input type="submit" value="Log out"/>
</form>

<form action="{% url 'addbalance' %}" method="post">
    {% csrf_token %}
    <button type="submit">Add balance</button>
</form>

{% for friend in friends %}
<a href="/account/{{ friend.id }}">{{ friend }}</a>
{% endfor %}

<form action="chat/" method="get">
    <select name="to">
        {% for account in accounts %}
        <hr>
        <option value="{{ account.user.username }}">{{ account.user.username }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Open chat"/>
</form>