Hi {{ user.username }}!

<form action="logout/" method="post">
    {% csrf_token %}
    <input type="submit" value="Log out"/>
</form>
<br>

Search for users by username:

<form action="{% url 'searchusers' %}" method="get">
    <input type="text" name="query">
    <input type="submit" value="Search"/>
</form>
<br>

{% if chats|length > 0 %}
Open chats:
{% for chat in chats %}
<hr>
{% if chat.user1 == user %}
{{ chat.user2.username }}
<form action="chat/" method="get">
    <input type="hidden" value="{{ chat.user2.username }}" name="to">
    <input type="submit" value="Open chat"/>
</form>
<form action="delete/" method="get">
    <input type="hidden" value="{{ chat.user2.username }}" name="to">
    <input type="submit" value="Delete chat"/>
</form>
{% else %}
{{ chat.user1.username }}
<form action="chat/" method="get">
    <input type="hidden" value="{{ chat.user1.username }}" name="to">
    <input type="submit" value="Open chat"/>
</form>
<form action="delete/" method="get">
    <input type="hidden" value="{{ chat.user1.username }}" name="to">
    <input type="submit" value="Delete chat"/>
</form>
{% endif %}
{% endfor %}
<hr>
{% else %}
You do not have any open chats at the moment. Add friends to open chats.
{% endif %}
<br>
<br>

{% if friends|length > 0 %}
Your friends:
<br>
{% for friend in friends %}
<hr>
{{ friend.user.username }}
<form action="chat/" method="get">
    <input type="hidden" value="{{ friend.user.username }}" name="to">
    <input type="submit" value="Open chat"/>
</form>
<form action="deletefriend/" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ friend.user.username }}" name="friend">
    <input type="submit" value="Delete friend"/>
</form>
{% endfor %}
{% else %}
You have not added any friends yet.
{% endif %}
<br>
<br>
